.idea
.env
project/backend/migrations
project/users/migrations
project/users/__pycache__/
project/backend/__pycache__/
project/retail_api/__pycache__/
project/tests/__pycache__/
project/tests/backend/__pycache__/
project/tests/users/__pycache__/
*~
static/
/project/.coverage
project/pytest-cache-files-a16qccos/
project/retail_api/celerybeat-schedule
recreate_db.bat
pytest-cache-files-0z1lbohr/